/*
 * MobileAccess v1.3.0
 *  ##### **NaaS API Version:** 2.4.0 ##### **mobileAccess service version:** 1.2.3 ## OVERVIEW TMF 640 - Activation and Configuration API. This is a strategic mobileAccess service aiming to provide network capabilities to products.   **Note: Enum values are case sensitive**
 *
 * OpenAPI spec version: 2.4.5
 * Contact: D1701045@team.telstra.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import java.io.IOException;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

import com.swagger.client.ApiCallback;
import com.swagger.client.ApiClient;
import com.swagger.client.ApiException;
import com.swagger.client.ApiResponse;
import com.swagger.client.Configuration;
import com.swagger.client.Pair;
import com.swagger.client.ProgressRequestBody;
import com.swagger.client.ProgressResponseBody;

import io.swagger.client.model.NotificationRequest;

public class InternalApi {
    private ApiClient apiClient;

    public InternalApi() {
        this(Configuration.getDefaultApiClient());
    }

    public InternalApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for processNotification
     * @param xCorrelationID UUID. Used for business transaction correlation in the Logs. (required)
     * @param xGroupID Unique String (or mnemonic) representing the group to which a consumer belongs. (required)
     * @param body  (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call processNotificationCall(String xCorrelationID, String xGroupID, NotificationRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = body;
        
        // create path and map variables
        String localVarPath = "/mobileAccess/notification";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();
        if (xCorrelationID != null)
        localVarHeaderParams.put("X-Correlation-ID", apiClient.parameterToString(xCorrelationID));
        if (xGroupID != null)
        localVarHeaderParams.put("X-Group-ID", apiClient.parameterToString(xGroupID));

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            "application/json"
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "POST", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call processNotificationValidateBeforeCall(String xCorrelationID, String xGroupID, NotificationRequest body, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'xCorrelationID' is set
        if (xCorrelationID == null) {
            throw new ApiException("Missing the required parameter 'xCorrelationID' when calling processNotification(Async)");
        }
        // verify the required parameter 'xGroupID' is set
        if (xGroupID == null) {
            throw new ApiException("Missing the required parameter 'xGroupID' when calling processNotification(Async)");
        }
        
        com.squareup.okhttp.Call call = processNotificationCall(xCorrelationID, xGroupID, body, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Process Status Notification
     * This endpoint is used to send process status notifications by internal services which then would be published to NaaS listener endpoint
     * @param xCorrelationID UUID. Used for business transaction correlation in the Logs. (required)
     * @param xGroupID Unique String (or mnemonic) representing the group to which a consumer belongs. (required)
     * @param body  (optional)
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public void processNotification(String xCorrelationID, String xGroupID, NotificationRequest body) throws ApiException {
        processNotificationWithHttpInfo(xCorrelationID, xGroupID, body);
    }

    /**
     * Process Status Notification
     * This endpoint is used to send process status notifications by internal services which then would be published to NaaS listener endpoint
     * @param xCorrelationID UUID. Used for business transaction correlation in the Logs. (required)
     * @param xGroupID Unique String (or mnemonic) representing the group to which a consumer belongs. (required)
     * @param body  (optional)
     * @return ApiResponse&lt;Void&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<Void> processNotificationWithHttpInfo(String xCorrelationID, String xGroupID, NotificationRequest body) throws ApiException {
        com.squareup.okhttp.Call call = processNotificationValidateBeforeCall(xCorrelationID, xGroupID, body, null, null);
        return apiClient.execute(call);
    }

    /**
     * Process Status Notification (asynchronously)
     * This endpoint is used to send process status notifications by internal services which then would be published to NaaS listener endpoint
     * @param xCorrelationID UUID. Used for business transaction correlation in the Logs. (required)
     * @param xGroupID Unique String (or mnemonic) representing the group to which a consumer belongs. (required)
     * @param body  (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call processNotificationAsync(String xCorrelationID, String xGroupID, NotificationRequest body, final ApiCallback<Void> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = processNotificationValidateBeforeCall(xCorrelationID, xGroupID, body, progressListener, progressRequestListener);
        apiClient.executeAsync(call, callback);
        return call;
    }
}
